<div id="yams-audio-track-volume">
  <input type="range" orient="vertical" min="0" max="100" value="100" step="1" class="yams-audio-input-range" />
  <i class="material-icons volume_up">volume_up</i>
  <i class="material-icons volume_down d-none">volume_down</i>
  <i class="material-icons volume_mute d-none">volume_mute</i>
  <i class="material-icons volume_off  d-none">volume_off</i>
</div>
