<div id="yams-audio-track-playlist-wrapper-row" class="col">

    <div class="yams-audio-playlist-content">
      <ul id="yams-audio-playlist" class="yams-audio-playlist">
        <%= yield :datashift_audio_engine_track_playlist %>
      </ul>
    </div>

</div>
