<div id="yams-audio-track-cover-img">
  <% if local_assigns.key?(:track) %>
    <%= cover_image_tag(track.cover_image) %>
  <% end %>
</div>

<div class="yams-audio-track-cover-icons">
  <i class="material-icons yams-audio-cover-play play" >play_circle_outline</i>
  <i class="material-icons yams-audio-cover-play pause d-none">pause_circle_outline</i>
</div>
