input[type=range][orient=vertical].datashift-audio-input-range
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 75px;
    /* padding: 0 50px; */
}

.datashift-audio-player .datashift-audio-track-volume {
    display: inline-block;
    width: 3%;
    height: 75px;

    padding: 0px 10px;
}

.datashift-audio-track-volume i{
  cursor: pointer;
  transition: 0.25s;
}

.datashift-audio-track-volume i:hover{
  cursor: pointer;
  transform:rotate(360deg);
  color: red;
}
