<div class="row">
  <div id="datashift-audio-player" class="datashift-audio-player datashift-audio-bar pt-2 pb-2 col-11">

    <div id="datashift-audio-player-wrapper-row" class="row">
      <%= render partial: 'datashift_audio_engine/shared/track_cover' %>

      <%= render partial: 'datashift_audio_engine/shared/track_basic_info' %>

      <%= render partial: 'datashift_audio_engine/shared/wave_block' %>

      <%= render partial: 'datashift_audio_engine/shared/track_volume' %>
    </div>
  </div>
</div>

