<div class="row">
  <div id="datashift-audio-player" class="datashift-audio-player datashift-audio-bar pt-2 col-10 offset-1">

    <div id="datashift-audio-player-wrapper-row" class="row">
      <div class="col-2 p-0"><%= render partial: 'datashift_audio_engine/shared/track_cover' %></div>

      <div class="col-2 p-0"><%= render partial: 'datashift_audio_engine/shared/track_basic_info' %></div>

      <div class="col-7 p-0"><%= render partial: 'datashift_audio_engine/shared/wave_block' %></div>

      <div class="col-1"><%= render partial: 'datashift_audio_engine/shared/track_volume' %></div>
    </div>
  </div>
</div>

