<ul id="navbar-audio-player" class="navbar-nav nav-fill w-100">
  <li class="nav-item">
    <%= render partial: 'datashift_audio_engine/shared/player' %>
  </li>
</ul>

<% if local_assigns.has_key?(:datashift_audio_setup_json) %>
  <script type="text/javascript" charset="utf-8">
    datashift_audio_engine.init_player('<%= raw datashift_audio_setup_json %>');

    datashift_audio_engine.load_playlist('<%= raw datashift_audio_setup_json %>');
  </script>
<% end %>
