<div id="datashift-audio-track-playlist-wrapper-row" class="col">

    <div class="datashift-audio-playlist-content">
      <ul id="datashift-audio-playlist" class="datashift-audio-playlist">
        <%= yield :datashift_audio_engine_track_playlist %>
      </ul>
    </div>

</div>
