<% style = local_assigns.has_key?(:css) ? css : 'col-2' %>

<div class="<%= style %>">
  <div class="datashift-audio-track-basic-info">
    <div class="datashift-audio-track-name">Current Track Name</div>
    <div class="datashift-audio-author-name pt-2">Author Name</div>
  </div>
</div>
