<div id="datashift-audio-track-playlist-wrapper-row" class="col-12">
  <div class="row">

    <div class="datashift-audio-playlist-content p-1 col-10 offset-1 w-100">
      <ol id="datashift-audio-playlist" class="datashift-audio-playlist p-1">
      </ol>
      <div class="datashift-audio-page-selectors">
        <ul class='datashift-audio-pages'>
          <%= yield :datashift_audio_track_listing %>
        </ul>
      </div>
    </div>

  </div>
</div>
