<% style = local_assigns.has_key?(:css) ? css : 'col-1' %>

<div class="<%= style %>">
  <div class="datashift-audio-track-cover ml-0">
    <div id="datashift-audio-track-cover-img"></div>
    <i class="material-icons datashift-audio-cover-play play" >play_circle_outline</i>
    <i class="material-icons datashift-audio-cover-play pause datashift-audio-hide">pause_circle_outline</i>
  </div>
</div>

