<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-1 datashift-audio-track-playlist">
        <i class="material-icons view_list datashift-audio-active">view_list</i>
      </div>
      <div class="col-8">
        <div class="datashift-audio-playlist-content p-1">
          <ol class="datashift-audio-playlist p-1"></ol>
          <div class="datashift-audio-page-selectors">
            <ol class='datashift-audio-pages'></ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
