<% style = local_assigns.has_key?(:css) ? css : 'col-1' %>

<div class="<%= style %>">
  <div class="datashift-audio-track-basic-info text-small">
    <div class="datashift-audio-track-name">Current Track Name</div>
    <div class="datashift-audio-author-name">Author Name</div>
  </div>
</div>
