<div id="datashift-audio-track-volume">
  <input type="range" orient="vertical" min="0" max="100" value="100" step="1" class="datashift-audio-input-range" />
  <i class="material-icons volume_up">volume_up</i>
  <i class="material-icons volume_down datashift-audio-hide">volume_down</i>
  <i class="material-icons volume_mute datashift-audio-hide">volume_mute</i>
  <i class="material-icons volume_off  datashift-audio-hide">volume_off</i>
</div>
