.datashift-audio-player .datashift-audio-track-cover
{
    text-align: center;

    width: $cover-size;
    height: $cover-size;

    min-width:  $cover-size;
    min-height: $cover-size;

    background-image: linear-gradient(darkslategray, grey, black);
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.datashift-audio-track-cover > i
{
  position:relative;
  top: -#{$cover-size-median};

  font-size: $cover-font-size;  /* determines the icon size */

  background-color: rgba(255, 255, 255, 0); 
  color: rgba(255, 255, 255, 0);

  /* color: white;  */
  cursor: pointer;
  transition: 0.25s;
}

.datashift-audio-track-cover:hover .datashift-audio-cover-play{
  background-color: rgba(255, 255, 255, 0.5); 
  color: rgba(255, 255, 255, 1);
}
