
.datashift-audio-player{
  position: fixed;
}

.datashift-audio-player.datashift-audio-bar {
    display: block;
    width: 100%;
    left: 0px;
    position: fixed;
    padding: 15px 0px;
    background-color: white;
}

.datashift-audio-player.datashift-audio-bar.datashift-audio-top {
    top: 0px;
    box-shadow: 5px 0px 10px black;
}

.datashift-audio-player.datashift-audio-bar.datashift-audio-bottom {
    bottom: 0px;
    box-shadow: -5px 0px 10px black;
}

.datashift-audio-player .datashift-audio-info-block {
    display: inline-block;
    width: 10%;
    height: 75px;
}

.datashift-audio-player .datashift-audio-wave-block {
    display: inline-block;
    width: 70%;
    height: 75px;
    max-height: 75px !important;
    margin: 0px 10px;
}

wave {
    max-height: 75px;
}

.datashift-audio-track-controls i{
    font-size: 40px !important;
    padding: 5px;

    transition: 0.25s;

    cursor: pointer;
}

.datashift-audio-track-controls i:hover{
    transform:rotate(360deg);
    color: red;
}

.datashift-audio-track-basic-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.datashift-audio-track-basic-info .datashift-audio-author-name{
    color: grey;
}

.datashift-audio-track-basic-info *{
    cursor: pointer;
}

.datashift-audio-track-basic-info .datashift-audio-author-name:hover{
    text-decoration: underline;
}

.datashift-audio-track-basic-info .datashift-audio-track-name:hover{
    text-decoration: underline;
}

.datashift-audio-hide{
    display: none !important;
}

.datashift-audio-current-position{
    display: inline;
}

.datashift-audio-total-duration{
    display: inline;
}

