input[type=range][orient=vertical].yams-audio-input-range
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: $cover-size;
}

.yams-audio-player .yams-audio-track-volume {
    display: inline-block;
    width: 3%;
    height: $cover-size;

    padding: 0px 10px;
}

.yams-audio-track-volume i{
  cursor: pointer;
  transition: 0.25s;
}

.yams-audio-track-volume i:hover{
  cursor: pointer;
  transform:rotate(360deg);
  color: floralwhite;
}
